{% extends "frontend/base.html" %}

{% block header %}
{% include "frontend/header.html" %}
{% endblock %}

{% block sidebar %}
{% include "frontend/sidebar.html" %}
{% endblock %}

{% block content %}
{% load static %}
{% csrf_token %}
<main class="content">
    <div class="left" id="left">
        <div class="big_image_wrapper">
        <img id="mainImage" src="{{ bottom_image.image_url|default_if_none:"" }}" alt="Main Image">
        </div>
    </div>
<div class="right">
    <div id="secondaryImage">
        <img src="{{ top_image.image_url|default_if_none:"" }}" alt="Secondary Image">
    </div>
    <div class="settings">
        <!-- the buttons will trigger an api call via javascript -->
        <button id="save_button" type="button">Save Annotations</button>
        <button id="validate_button" type="button">Validate</button>
        <label for="classSelect">Select Class for Annotation:</label>
        <!-- this is just for frontend anyway we dont need this data on the backend-->
        <select id="classSelect">
            {% for class in classes %}
                <option value="{{ class.id }}">{{ class.name }}</option>
            {% endfor %}
        </select>
        <!-- selecting a filter will trigger a redirect-->
        <form method="POST" action="{% url 'image_detail' log_id current_frame %}">
            {% csrf_token %}
            <label for="filterSelect">Select Frame Filter:</label>
            <select name="frame_filter" id="filterSelect">
            {% for filter in filters %}
                <option value="{{ filter.id }}">{{ filter.name }}</option>
            {% endfor %}
            </select>
        </form>
    </div>
</div>

<div class="timeline-container">
    <div class="timeline_infos">
        <p>Frame: {{current_index}}/{{num_frames}}</p>
        <a href="{% if prev_frame %}{% url 'image_detail' log_id prev_frame %} {% else %}{% endif %}" class="prev-button">Previous</a>
        <p>Image URL: {{bottom_image.image_url}}</p>
        <p>Image URL: {{top_image.image_url}}</p>
    </div>
    <div class="timeline" id="timeline">
        {% for frame in frame_numbers %}
        <a href="{% url 'image_detail' log_id frame %}?filter={{ selected_filter_name|urlencode }}"
            class="timeline-box {% if frame == current_frame %}timeline-active{% endif %}"></a>
        {% endfor %}
    </div>
</div>
</main>
<script src="{% static 'js/functions.js' %}"></script>
<script src="{% static 'js/image.js' %}"></script>
<script src="{% static 'js/validation.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        resize_main_image()
        // TODO how to get the current frame id of the image in the main screen
        handle_validation()
    });
</script>
{% endblock %}