{% extends "frontend/base.html" %}

{% block header %}
{% include "frontend/header.html" %}
{% endblock %}

{% block sidebar %}
{% include "frontend/sidebar.html" %}
{% endblock %}

{% block content %}
{% load static %}
{% csrf_token %}
<main class="content">
    <div class="left" id="left">
        <div class="big_image_wrapper" id="konva"></div>
    </div>
<div class="right">
    <div id="secondaryImage">
        <img src="{{ top_image.image_url|default_if_none:"" }}" alt="Secondary Image">
    </div>
    <div class="settings">
        <!-- the buttons will trigger an api call via javascript -->
        <button id="save_button" type="button">Save Annotations</button>
        <button id="validate_button" type="button">Validate All</button>
        <label for="classSelect">Select Class for Annotation:</label>
        <!-- this is just for frontend anyway we dont need this data on the backend-->
        <select id="classSelect">
            <option value="robot">Nao</option>
            <option value="ball">Ball</option>
            <option value="penaltymark">Penalty Mark</option>
        </select>
        <!-- selecting a filter will trigger a redirect-->
        <form method="POST" action="{% url 'image_detail' log_id current_frame %}">
            {% csrf_token %}
            <label for="filterSelect">Select Frame Filter:</label>
            <select name="frame_filter" id="filterSelect">
            {% for filter in filters %}
                <option value="{{ filter.id }}">{{ filter.name }}</option>
            {% endfor %}
            </select>
        </form>
    </div>
</div>

<div class="timeline-container">
    <div class="timeline_infos">
        <p>Frame: {{current_index}}/{{num_frames}}</p>
        <a href="{% if prev_frame %}{% url 'image_detail' log_id prev_frame %} {% else %}{% endif %}" class="prev-button">Previous</a>
        <a href="{% if next_frame %}{% url 'image_detail' log_id next_frame %} {% else %}{% endif %}" class="next-button">Next</a>
    </div>
    <div class="timeline" id="timeline">
        {% for frame in frame_numbers %}
        <a href="{% url 'image_detail' log_id frame %}?filter={{ selected_filter_name|urlencode }}"
            class="timeline-box {% if frame == current_frame %}timeline-active{% endif %}"></a>
        {% endfor %}
    </div>
</div>
</main>
<script>
    const BASE_URL = window.location.protocol === 'https:' 
    ? `https://{{ request.get_host }}` 
    : `http://{{ request.get_host }}`;
</script>
<script src="{% static 'js/globals.js' %}"></script>
<script src="{% static 'js/validation.js' %}"></script>
<script src="{% static 'js/my_konva.js' %}"></script>
<script src="{% static 'js/image.js' %}"></script>

<script>
    const csrfToken = "{{ csrf_token }}";  // Django template variable
    async function setup(){
        // TODO maybe return the image object here so we can get the id and use that to list out all annotations
        a = await get_image_url("BOTTOM");
        bottom_image_url = `https://logs.berlin-united.com/${a.image_url}`
        b = await get_image_url("TOP");
        top_image_url = `https://logs.berlin-united.com/${b.image_url}`
        
        // TODO switch annotations also
        bottom_annotations = await get_annotation(a.id);
        top_annotations = await get_annotation(b.id);
        console.log("top_annotations", top_annotations);
        current_annotations = bottom_annotations;
        handle_validation()
        
        setup_secondary_image()
        setUpKonvaCanvas()
    }
    document.addEventListener('DOMContentLoaded', () => {
        setup()
    });

</script>
{% endblock %}