* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  display: grid;
  grid-template-columns: 200px 1fr; /* Sidebar width, remaining for content */
  grid-template-rows: auto 1fr; /* Header height, remaining for content, timeline height */
  grid-template-areas:
  "header header"
  "nav content";
  padding: 0;
  margin: 0;
  min-height: 100vh;
  box-sizing: border-box;
  background: radial-gradient(
      circle at 50% 50%,
      rgb(159, 232, 253) 20%,
      transparent 80%
  ),
    conic-gradient(
      from 45deg at 50% 50%,
      rgb(255, 129, 170) 0%,
      rgb(159, 232, 253) 25%,
      rgb(255, 129, 170) 50%,
      rgb(159, 232, 253) 75%,
      rgb(255, 129, 170) 100%
    );
}

.header {
  grid-column: 1 / -1; /* Span across all columns */
  
  color: black;
  padding-left: 16px;
  align-items: center;
  display: flex;
  height: 50px;
}

.header-logo{
  height: 80%;
}

.sidebar_container {
  grid-row: 2 / -1;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4; /* Match body background */
}

.sidebar {
  flex: 1;
  background-color: #fff;
  border-radius: 8px;
  color: #000;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 10px 0;
  border-bottom: 1px solid #4a6572;
}

.sidebar li:last-child {
  border-bottom: none;
}

.sidebar a {
  color: #555;
  text-decoration: none;
  display: block;
  transition: color 0.2s ease;
}

.sidebar a:hover {
  color: rgb(255, 129, 170);
}

.content {
  display: grid;
  grid-template-columns: 3fr auto;
  grid-template-rows: 1fr 200px;
  gap: 20px;
  background-color: #f4f4f4; /* Match body background */
  padding: 20px;
  overflow: hidden; /* Prevent scrolling within content area */
}

/* For event list view */
.projects_section {
  grid-area: content;
  padding: 20px;
  background-color: #f4f4f4; /* Match body background */
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.project_boxes {
  overflow-y: auto;
}
.project_boxes.jsGridView {
  --min: 300px;
  --gap: 1rem;

  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: repeat(auto-fit, var(--min));
}

.project_boxes::-webkit-scrollbar {
  width: 8px;
  height: 1em;
}

.project_boxes::-webkit-scrollbar-track {
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  border-radius: 8px;
  margin-block: 0.5em;
}

.project_boxes::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #d55959;
}

/* */
.event_card {
    border-radius: 0.75rem;
    border: 1px solid grey;
    background-color: hsl(0 0% 100%);
}

.event_header{
  padding: 1.5rem;
  flex-direction: column;
  display: flex;
}
/* this is really weird why does img need to be a direct child of something that is display flex*/
.event_header a{
  flex-direction: column;
  display: flex;
}
.event_content{
  padding-top: 0px;
  padding: 1.5rem;
}

.event_title {
  letter-spacing: -0.025em;
  line-height: 1;
  font-weight: 600;
}

.event_footer{
  padding-top: 0px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding: 1.5rem;
  align-items: center;
  display: flex;
}
.event_progressbar {
    height: 8px;
    border-radius: 8px;
    width: 100%;
}

/* Annotation View */
.main_container_annotation {
  grid-area: main_container;
  display: grid;
  grid-template-rows: 80% 20%;
  background: #fff;
  position: relative;
  overflow: hidden;
  padding: 10px;
  gap: 5px;
}

.content_grid_annotation {
  display: flex;
  gap: 4px 8px;
  height: 100%;
  max-height: 100%;
  justify-content: space-between;
  align-items: center;
}

.grid_item_annotation {
  flex: 1;
  display: flex;
 

  justify-content: center;
  align-items: center;
  aspect-ratio: 4 / 3;
  max-height: 100%;
  background-color: #f0f0f0;
}

.grid_item_annotation img {
  aspect-ratio: 4 / 3; /* Maintain the 4:3 aspect ratio */
  object-fit: contain; /* Scale the image while preserving the aspect ratio */
  height: 100%; /* Prevent the image from exceeding the container's height */
  max-width: 100%;
}

/* Timeline */
.timeline-container { 
  background-color: #ffffff;
  overflow: hidden;
}

.test {
  overflow-x: auto; /* Enables horizontal scrolling */
  white-space: nowrap; /* Prevents wrapping of boxes   */
  padding-bottom: 5px;
}


.timeline-box {
  background-color: #ddd;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  margin-right: 5px;
  height: 15px;
  transition: background-color 0.2s ease;
}

.timeline-box:hover {
  background-color: rgb(159, 232, 253);
}

.timeline-active {
  background-color: rgb(159, 232, 253);
}

/* Add smooth scrolling for aesthetics */
.test::-webkit-scrollbar {
  height: 8px;
}

.test::-webkit-scrollbar-thumb {
  background: #ffcccb;
  border-radius: 4px;
}

.test::-webkit-scrollbar-track {
  background: #f1f1f1;
}


.left {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  overflow: hidden;
}

.big_image_wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#mainImage {
  display: block;
  cursor: default;
  width: auto;
  height: auto;
  max-width: none;
  max-height: none;
}

.right {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;
}

#secondaryImage {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

#secondaryImage img {
  max-width: 70%;
  max-height: 70%;
  object-fit: contain;
}

#secondaryImage:hover {
  transform: scale(1.05);
}

.settings {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

#validate_button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
}

#validate_button:hover {
  background-color: rgb(159, 232, 253);
}

#validate_button.active {
  background-color: rgb(159, 232, 253);
}

.settings label {
  display: block;
  margin-bottom: 10px;
  color: #555;
  font-weight: bold;
}

.settings select, button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
}

.settings select:focus {
  outline: none;
  border-color: #159, 232, 253;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.timeline-container {
  grid-column: 1 / -1; /* Start after sidebar, span to the end */
  padding-left: 10px;
  background-color: #fff;
  border-radius: 8px;
  
}

.timeline{
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.frame_button {
  background-color: #ddd;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  box-sizing: content-box;
  height: 15px;
}

.frame_button:hover {
  background-color: rgb(159, 232, 253);
}

.frame_button.active {
  background-color: rgb(159, 232, 253);
}